.DS_Store
src/.DS_Store
src/main/.DS_Store
src/main/java/.DS_Store
mvnhelp.txt
target/
.idea/
out/
*.iml
.classpath
.idea/
.mvn/
.project
.settings/
.gitignore
img/
logs/
LIESMICH.txt
tmp/
jpackage.txt
jpkMacOSX.txt
jpkWindows.txt
jpkLinux.txt
pom.xml.versionsBackup
